.advantages__img_s {
 margin-bottom: 78px;
}

@media (max-width: 1150px) {
  .advantages__img_s {
    margin-bottom: 38px;
   }
}

@media (max-width: 500px) {
  .advantages__img_s {
    margin-bottom: 10px;
   }
}
