@import url('./__element/img-container__element.css');

/* .img-container {
  width: 816px;
  height: 904px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

@media (max-width: 1260px) {
  .img-container {
    width: 62%;
    height: 115%;
  }
} */

.img-container {
  background: url('../../images/main_bg.png');
  background-repeat: no-repeat;
}

@media (max-width: 1260px) {
  .img-container {

  }
}
