.advantages__description {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 1150px) {
  .advantages__description {
    font-size: 13px;
    line-height: 16px;
  }
}

@media (max-width: 900px) {
  .advantages__description {
    font-size: 11px;
    line-height: 13px;
  }
}
