@import url('./_m/advantages__img_m.css');
@import url('./_s/advantages__img_s.css');


.advantages__img {
  height: auto;
  width: 100%;
}

@media (max-width: 500px) {
  .advantages__img {
    width: 50%;
  }
}
