.price__old-count {
  font-size: 36px;
  line-height: 43px;
  color: #ADADAD;
  position: relative;
  z-index: 14;
  margin: 0;
}

@media (max-width: 500px) {
  .price__old-count {
    font-size: 18px;
    line-height: 27px;
  }
}
