.header__logo {
  background-image: url('../../../images/logo.svg');
  width: 120px;
  height: 35px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1150px) {
  .header__logo {
    width: 112px;
    height: 27px;
  }
}

@media (max-width: 750px) {
  .header__logo {
    display: none;
  }
}
