/* .img-container__element_nootris {
  bottom: 206px;
  right: 100px;
  z-index: 4;
}

@media (max-width: 1260px) {
  .img-container__element_nootris {
    width: 27%;
    height: auto;
  }
} */

.img-container__element_nootris {
  background: url('../../../../images/nootris.png');
  bottom: 206px;
  right: 100px;
  z-index: 4;
}

@media (max-width: 1260px) {
  .img-container__element_nootris {
    width: 27%;
    height: auto;
  }
}
