.price__line {
  width: 112px;
  height: 2px;
  border-radius: 0.5px;
  background: #ADADAD;
  position: absolute;
  top: 50%;
  z-index: 15;
}

@media (max-width: 500px) {
  .price__line {
    width: 55px;
  }
}
