/* .img-container__element_lemon {
  bottom: 0;
  right: 179px;
  z-index: 5;
}

@media (max-width: 1260px) {
  .img-container__element_lemon {
    width: 65%;
    height: auto;
  }
} */

.img-container__element_lemon {
  background: url('../../../../images/Lemon.png');
  bottom: 0;
  right: 179px;
  z-index: 5;
}

@media (max-width: 1260px) {
  .img-container__element_lemon {
    width: 65%;
    height: auto;
  }
}
