@import url('./__container/discount__container.css');
@import url('./__title/discount__title.css');
@import url('./__title/_span/discount__title_span.css');

.discount {
  background: #111111;
  font-family: 'Rubik', 'Arial', sans-serif;
  padding: 110px 0;
}

@media (max-width: 1150px) {
  .discount {
    padding: 50px 0;
  }
}

@media (max-width: 500px) {
  .discount {
    padding: 20px 0;
  }
}
