@import url('./__item/advantages__item.css');
@import url('./__img/advantages__img.css');
@import url('./__description/advantages__description.css');
@import url('./__description/_big/advantages__description_big.css');
@import url('./__span/advantages__span.css');
@import url('./__span/_big/advantages__span_big.css');

.advantages {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 111px;
  margin-bottom: 64px;
}
